@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Bold */
}
p {
  font-family: "Lato", sans-serif;
  font-style: italic; /* Italic */
}
:after,
:before {
  box-sizing: inherit;
}
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #717784;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
